body{
    background-color: rgb(240, 240, 238);
}

p, li {line-height: 1.4;}

#navbar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0; 
    top: 0;
    background-color: #a3b18a;
    padding-top: 20px;
    transition: transform 0.3s ease;
}

#navbar.active {
    transform: translateX(-100%); /* Hide navbar off-screen */
}

#navbar h2{
    color:azure;
    padding-left: 20px;
    font-family: sans-serif;
}

#navbar ul{
    padding: 0;
}

#navbar ul li {
    list-style: none;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-link {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    font-weight: bold;
}

#navbar a:hover {
    color: #edede9;
}


/* Main content area */
#main-doc {
    margin-left: 260px;
    padding: 20px;
}

.main-section{
    padding-top: 5px;
    padding-bottom: 10px;
}

.special-text{
    font-weight: bold;
    color: #344e41;
}

.bold{
    font-weight: bold;
}

code{
    padding: 5px;
}

.code-box{
    background-color: #3b3c3f;  
    color: white;
    font-size: 14px;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

.indent{
    padding-left: 15px;
}

.indent2{
    padding-left: 25px;
}

.indent3{
    padding-left: 40px;
}

.redtxt{
    color: rgb(231, 126, 126);
}

.grntxt{
    color: rgb(40, 196, 149);
}

.codetxt{
    background: rgb(204, 202, 202);
    font-family: monospace;
    padding: 2px;
    border-radius: 3px;
}

.icon {
    display: none; 
}

@media screen and (max-width: 480px) {
    #navbar {
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    h2{
        text-align: center;
    }
  
    #navbar > .nav-link{
        display: none;
    }

    #navbar a {
        color: white;
        padding: 14px 16px;
        text-align: center;
    }

    #navbar > a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #main-doc {
        margin-left: 0;
    }

    h1{
        text-align: center;
    }
  }